{include file="public/css"}
<div class="main-container container-fluid">
    <div class="page-container">
        <div class="page-content" style="margin-left: 0;">
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">新增栏目</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" id="add_form" action-url="{:url('Cate/addPost')}">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">上级栏目</label>
                                            <div class="col-sm-6">
                                                <select name="pid">
                                                    <option value="0">顶级栏目</option>
                                                    {volist name="pid" id="p"}
                                                        <option value="{$p.id}">
                                                            {if condition="$p.level neq 0"}├{/if}
                                                            <?php echo str_repeat('-',$p['level']*4) ?>
                                                            {$p.catename}
                                                        </option>
                                                    {/volist}
                                                </select>
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">栏目名称</label>
                                            <div class="col-sm-6">
                                                <input class="form-control"  placeholder="" name="catename" type="text">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">关键词</label>
                                            <div class="col-sm-6">
                                                <input class="form-control"  placeholder="" name="keywords" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">描述</label>
                                            <div class="col-sm-6">
                                                <textarea name="desc" class="form-control"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="group_id" class="col-sm-2 control-label no-padding-right">栏目类型</label>
                                            <div class="col-sm-6">
                                                <div class="radio" style="float:left; margin-right:10px;">
                                                    <label>
                                                        <input checked="checked" name="type" value="1"  type="radio">
                                                        <span class="text">文章列表</span>
                                                    </label>
                                                </div>
                                                <div class="radio" style="float:left; margin-right:10px;">
                                                    <label>
                                                        <input name="type" class="inverted" value="2" type="radio">
                                                        <span class="text">单页</span>
                                                    </label>
                                                </div>
                                                <div class="radio" style="float:left; margin-right:10px;">
                                                    <label>
                                                        <input name="type" class="inverted" value="3" type="radio">
                                                        <span class="text">时光轴</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">内容</label>
                                            <div class="col-sm-6">
                                                <textarea name="content" class="form-control" rows="5" cols="50"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="button" class="btn btn-default" onclick="SaveInfoAdd()">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{include file="public/foot"}



