{extend name="public/base"}
{block name="slider"}
{if condition="$confres.del_lunbo == '开启'"}
<div class="xh_h_show">
    <div class="xh_h_show_in">

        <div id="zSlider">

            <div id="slideBox" class="slideBox">
                <div class="hd">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="bd">
                    <div class="tempWrap" style="overflow:hidden;">
                        <ul style="overflow: hidden;">
                            {volist name="imgres" id="vo"}
                            <li>
                                <a href="{$vo.url}" title="{$vo.desc}"><img src="{$vo.pic}" alt=""></a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>

                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>

            </div>
        </div>



        <div id="picshow_right">
            <a href="{$rec_index.url}">
                <img src="{$rec_index.pic}" title="{$rec_index.desc}" alt="">
            </a>

            <div id="myClockBox1"></div>
        </div>
    </div>
</div>
{/if}
{/block}


{block name="left"}
<style>
    .post-list-show {
        animation: post-list-show .5s;
        -webkit-animation: post-list-show .5s;
        opacity: 1
    }

    @keyframes post-list-show {
        0% {
            opacity: 0;
            -webkit-transform: translateY(80px);
            transform: translateY(80px)
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }
</style>
<div id="xh_content" style="padding-right:10px;">
            <div class="xh_area_h_3">
                <div class="xh_area_title">
                    <h1 class="t">New 最近更新</h1>
                </div>
                <br>
                <div class="xh_area_h_3" style="margin-top: 40px;">
                    {volist name="artres" id="vo" key="k"}
                    {if condition="$vo.pic neq ''"}
                    <div class="xh_post_h_3 ofh post-list-show">
                        {if $k % 2 == 0}
                        <div class="xh" style="background-image:-webkit-linear-gradient(top,#fff,#f9f9f9);border:1px solid #ccc;">
                            <div class="r ofh">
                            <span class="xh_post_h_3_title ofh" style="height:60px;">
                                <a href="/article/{$vo.cid}/{$vo.id}" title="{$vo.title}">
                                    <span style="font-size: 20px;font-weight: bold">{if $vo.rec == "1"}<span style="color: red;" title="推荐文章">*</span>{/if}{$vo.title}</span>
                                </a>
                            </span>
                                <span class="time">{$vo.create_time}</span>
                                <div class="xh_post_h_3_entry ofh sub_content" style="color:#555;height:80px; overflow:hidden;">
                                    {$vo.content|trim}
                                </div>
                                <div class="b">
                                    <span title="{$vo.click}人赞" class="xh_love"><span class="textcontainer"><span>🙆{$vo.click}</span></span> </span> <span title="{$vo.look}人浏览" class="xh_views">👀{$vo.look}</span>
                                </div>
                            </div>
                            <div class="article-item">
                                <a href="/article/{$vo.cid}/{$vo.id}" title="{$vo.title}">
                                    <img class="scale" src="{$vo.pic}" alt="{$vo.title}" height="100%" width="100%">
                                </a>
                            </div>
                            <span class="cat">
                                <a href="/artlist/{$vo.cid}" title="查看 {$vo.catename} 中的全部文章" rel="category tag">{$vo.catename}</a>
                            </span>
                        </div>
                        {else/}
                        <div class="xh" style="background-image:-webkit-linear-gradient(top,#fff,#f9f9f9);border:1px solid #ccc;height: 240px;">
                            <div class="r ofh" style="left:10px;">
                            <span class="xh_post_h_3_title ofh" style="height:60px;top:30px">
                                <a href="/article/{$vo.cid}/{$vo.id}" title="{$vo.title}">
                                    <span style="font-size: 20px;font-weight: bold">{if $vo.rec == "1"}<span style="color: red;" title="推荐文章">*</span>{/if}{$vo.title}</span>
                                </a>
                            </span>
                                <span class="time">{$vo.create_time}</span>
                                <div class="xh_post_h_3_entry ofh sub_content" style="color:#555;height:80px; overflow:hidden;">
                                    {$vo.content|trim}
                                </div>
                                <div class="b">
                                    <span title="{$vo.click}人赞" class="xh_love"><span class="textcontainer"><span>🙆{$vo.click}</span></span> </span> <span title="{$vo.look}人浏览" class="xh_views">👀{$vo.look}</span>
                                </div>
                            </div>
                            <div class="article-item" style="float: right">
                                <a href="/article/{$vo.cid}/{$vo.id}" title="{$vo.title}">
                                    <img class="scale" src="{$vo.pic}" alt="{$vo.title}" height="100%" width="100%">
                                </a>
                            </div>
                            <span class="cat">
                                <a href="/artlist/{$vo.cid}" title="查看 {$vo.catename} 中的全部文章" rel="category tag">{$vo.catename}</a>
                            </span>
                        </div>
                        {/if}
                    </div>
                    {else/}
                    <div class="xh_post_h_3 ofh post-list-show">
                        <div class="r ofh" style="width:95%;background-image:-webkit-linear-gradient(top,#fff,#f9f9f9);border:1px solid #ccc">
                            <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                <a href="/article/{$vo.cid}/{$vo.id}" title="{$vo.title}">{if $vo.rec == "1"}<span style="color: red;" title="推荐文章">*</span>{/if}{$vo.title}</a>
                            </h2>
                            <span class="time">{$vo.create_time}</span>
                            <div class="xh_post_h_3_entry ofh sub_content" style="color:#555;height:80px; overflow:hidden;">
                                {$vo.content|urldecode}
                            </div>
                            <div class="b" style="width:95%">
                                <span title="{$vo.click}人赞" class="xh_love"><span class="textcontainer"><span>🙆{$vo.click}</span></span> </span> <span title="{$vo.look}人浏览" class="xh_views">👀{$vo.look}</span>
                            </div>
                        </div>
                        <span class="cat">
                            <a href="/artlist/{$vo.cid}" title="查看 {$vo.catename} 中的全部文章" rel="category tag">{$vo.catename}</a>
                        </span>
                    </div>
                    {/if}

                    {/volist}
                </div>
            </div>
            <div class="pagination">{$artres->render()}</div>
        </div>

{/block}

{block name="right"}
{include file="public/right"}
{/block}
{block name="script"}
<!--<script type="text/javascript" src="__IN__/style/js/TagCloud.js"></script>-->
<!--彩带-->
<!--<script src="__IN__/style/ribbonjs/dist/ribbon.min.js"></script>-->
<script>


{present name="$rec_right"}
function rightimg() {
    layer.tips('{$rec_right.desc}', '#RigthImg', {
        tips: [4, '#101010']
    });
}
{/present}
//字符串截取
$(".sub_content").each(function(i){
    if($(this).text().length>80){
        $(this).attr("title",$(this).text());
        var text = $(this).text().substring(0,115)+"...";
        $(this).text(text);
    }
});
$("#myClockBox1").flipcountdown({});


$(".li").hover(function(){
    $(this).children('.ul').stop(false,true).fadeIn(400);
    $(this).children('a').addClass('action');
},function(){
    $(this).children('.ul').stop(false,true).fadeOut(335);
    $(this).children('a').removeClass('action');
});



</script>
{/block}

