<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{$res['keywords']}</title>
    <link href="https://cdn.bootcss.com/github-markdown-css/3.0.1/github-markdown.min.css" rel="stylesheet"/>
    <style>.markdown-body,.footer{min-width:256px;max-width:978px;margin:0 auto;font-size:14px;}.markdown-body{padding:20px 20px 130px 20px;}.footer p{text-align:center;font-size:12px;color:#666;}</style>
</head>
<body>
    <div class="markdown-body">{$res['content']}</div>
</body>
</html>
