{include file="public/css"}
{block name="page_style"}
<link href="https://cdn.bootcss.com/Dropify/0.2.2/css/dropify.min.css" rel="stylesheet">
{/block}
<div class="main-container container-fluid">
    <div class="page-container">
        <div class="page-content" style="margin-left: 0;">
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">新增首页视频</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" id="add_form" action-url="{:url('conf/add_video')}">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">视频</label>
                                            <div class="col-sm-6">
                                                <input type="file" name="fileVideo" id="fileVideo">
                                                <input type="hidden" name="video_data">
                                                <p class="video_data"></p>
                                            </div>

                                            <p class="help-block col-sm-4 red video_data_class">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">封面图</label>
                                            <div class="col-sm-6">
                                                <input type="file" id="fileImg"  class="dropify" data-allowed-file-extensions="*" data-height="100"/>
                                                <input type="hidden" name="img_data">
                                            </div>
                                            <p class="help-block col-sm-4 red img_data_class">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="button" class="btn btn-default" onclick="SaveInfoAdd()">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{include file="public/foot"}

{block name="page_script"}
<script src="https://cdn.bootcss.com/Dropify/0.2.1/js/dropify.min.js"></script>
<script>
    $('#fileVideo').change(function(){
        var index = loading("数据提交中，请稍等！");
        var f=this.files[0];
        var formData=new FormData();
        formData.append('fileVideo',f);
        $.ajax({
            url: '/admin/conf/upload_video',
            type: 'POST',
            success: function(data){
                layer.close(index);
                $('input[name=video_data]').val(data.url);
                $('.video_data').text(data.url);
                $(".video_data_class").text("上传成功！");
            },
            error: function(data){
                layer.msg(data.url);
            },
            data:formData,
            cache: false,
            contentType: false,
            processData: false
        });
    });
    $('#fileImg').change(function(){
        var index = loading("数据提交中，请稍等！");
        var f=this.files[0];
        var formData=new FormData();
        formData.append('fileImg',f);
        $.ajax({
            url: '/admin/conf/upload_img',
            type: 'POST',
            data:formData,
            success: function(data){
                layer.close(index);
                if(data.code){
                    $('input[name=img_data]').val(data.url);
                    $(".img_data_class").text("上传成功！");
                } else {
                    layer.msg(data.url);
                }

            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

    var drEvent = $('.dropify').dropify({
        messages: {
            'default': '在这里上传图片',
            'replace': '在这里替换新的图片',
            'remove': '删除',
            'error': '哦噢，出错啦',
        }
    });

    drEvent.on('dropify.beforeClear', () => {
        var formData = new FormData();
        formData.append('file',$('input[name=img_data]').val());
        $.ajax({
            url: '/admin/conf/delete_img',
            type: 'POST',
            success: function(data){
                if(data.code) {
                    layer.msg('删除成功!');
                }
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        });
    });
</script>
{/block}
