{include file="public/css"}
<div class="main-container container-fluid">
    <div class="page-container">
        <div class="page-content" style="margin-left: 0;">
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">修改节点</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" id="edit_form" action-url="{:url('auth_rule/editPost')}">
                                        <input type="hidden" name="id" value="{$res.id}">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">上级节点</label>
                                            <div class="col-sm-6">
                                                <select name="pid" id="e1" style="width: 100%">
                                                    <option value="0">顶级节点</option>
                                                    {volist name="pid" id="authRule"}
                                                    <option value="{$authRule.id}" {if condition="$res.pid eq $authRule.id"}selected="selected"{/if}><?php if($authRule['level']!=0){echo '|';} echo str_repeat('—', $authRule['level']*3)?>{$authRule.title}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">节点名称</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" value="{$res.title}"  placeholder="" required="" name="title" type="text">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">是否菜单</label>
                                            <div class="col-sm-6">
                                                <div class="radio hide_fun" style="float:left; margin-right:10px;">
                                                    <label>
                                                        <input {if condition="$res['is_menu'] eq 2"}checked="checked"{/if}  id="menu" name="is_menu" value="2"  type="radio">
                                                        <span class="text">是</span>
                                                    </label>
                                                </div>
                                                <div class="radio show_fun" style="float:left; margin-right:10px;">
                                                    <label>
                                                        <input {if condition="$res['is_menu'] eq 1"}checked="checked"{/if}  id="list" name="is_menu" class="inverted" value="1" type="radio">
                                                        <span class="text">否</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">节点路径</label>
                                            <div class="col-sm-6">
                                                <input id="node" class="form-control" value="{$res.name}"  placeholder="全小写例如：auth_rule/index" required="" name="name" type="text">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填（控制器/方法）</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">启用状态</label>
                                            <div class="col-sm-6">
                                                <select name="status">
                                                    <option value="1" {if condition="$res.status eq 1"}selected="selected"{/if}>开启</option>
                                                    <option value="0" {if condition="$res.status eq 0"}selected="selected"{/if}>关闭</option>
                                                </select>
                                            </div>
                                        </div>

                                        {if $res['pid'] == 0}
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label no-padding-right">图标 Style&nbsp;&nbsp;<i class="menu-icon fa {$res.style}"></i></label>
                                            <div class="col-sm-6">
                                                <input class="form-control" value="{$res.style}" required="" name="style" type="text">
                                            </div>

                                            <a  class="help-block col-sm-4" target="_blank" href="{:url('conf/awesome')}">* font-awesome</a>
                                        </div>
                                        {else/}
                                            <input class="form-control" value="0" required="" name="style" type="hidden">
                                        {/if}

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="button" class="btn btn-default" onclick="SaveInfoEdit()">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{include file="public/foot"}
{block name="page_script"}
<script>
    $("#e1").select2();
</script>
{/block}

